[submodule "Reboneframework"]
	path = Reboneframework
	url = https://github.com/one-color-low/Reboneframework
[submodule "rebone-VC"]
	path = rebone-VC
	url = https://github.com/apiss2/rebone-VC.git
[submodule "rebone-vmdl"]
	path = rebone-vmdl
	url = https://github.com/apiss2/rebone-vmdl.git
[submodule "ReBone_v2"]
	path = ReBone_v2
	url = https://github.com/one-color-low/ReBone_v2
[submodule "Reborn"]
	path = Reborn
	url = https://github.com/AotoKaburaki/Reborn.git
[submodule "pose_est_mod"]
	path = pose_est_mod
	url = https://github.com/apiss2/pose_est_mod.git
